@page
@model AutoshopWebApp.Pages.SpareParts.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SparePart.MarkAndModel.CarMark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparePart.MarkAndModel.CarMark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SparePart.MarkAndModel.CarModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparePart.MarkAndModel.CarModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SparePart.PartPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparePart.PartPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SparePart.PartCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparePart.PartCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SparePart.PartName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SparePart.PartName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SparePart.SparePartId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-default" asp-page="./Index">Назад</a>
    </form>
</div>
