@page
@model AutoshopWebApp.Pages.SpareParts.IndexModel

@{
    ViewData["Title"] = "Запчасти";
}

<h2>Запчасти</h2>


<form class="form-inline" id="searchForm" method="get">
    <div class="form-group" style="font-size:20px">
        Поиск: <input class="form-control" id="search" type="text" name="search" />
        <button type="button" onclick="getData()" class="btn btn-default">Найти</button>
    </div>
    <a class="btn btn-default" asp-page="Create">Добавить</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SparePart[0].PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePart[0].MarkAndModel.CarMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePart[0].MarkAndModel.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePart[0].PartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePart[0].PartCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="sparts"></tbody>
</table>

@section Scripts {
    <script id="btnPreset" type="text/template">
        <tr>
            <td>{{partName}}</td>
            <td>{{carMark}}</td>
            <td>{{carModel}}</td>
            <td>{{partPrice}}</td>
            <td>{{partCount}}</td>
            <td>
                <a class="btn btn-default" href="./SpareParts/Edit?id={{sparePartId}}">Изменить</a>
            </td>
            @if (Model.ShowDeleteButton)
            {
                <td>
                    <a class="btn btn-danger" href="./SpareParts/Delete?id={{sparePartId}}">Удалить</a>
                </td>
            }
        </tr>
    </script>

    <script>
        const uri = "api/spareparts"
        let spareParts = null;
        let templateData = null;

        $(document).ready(function () {
            getData();
        });

        function getData(showDel) {
            const searchData = $("#searchForm").serialize();

            $.ajax({
                type: "GET",
                url: uri,
                data: searchData,
                cache: false,
                success: function (data) {
                    const tbody = $("#sparts");
                    $(tbody).empty();
                    const template = $.trim($("#btnPreset").html());

                    $.each(data, function (key, value) {
                        let temp = makeFromTemplateRecoursive(value, template);
                        tbody.append(temp);
                    });

                    spareParts = data;
                }
            })
        }
    </script>
}
