@page
@model AutoshopWebApp.Pages.Workers.IndexModel
@using AutoshopWebApp.Authorization

@{
    ViewData["Title"] = "Список сотрудников";
}

<h3>Список сотрудников</h3>

<form class="form-inline" method="get">
    <div class="form-group">
        Поиск: <input class="form-control" type="text" name="search" />
        <button type="submit" class="btn btn-default">Найти</button>
    </div>
    @if (Model.IsShowAddButton)
    {
        <a class="btn btn-default" asp-page="AddWorker">Добавить сотрудника</a>
    }
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].Worker.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].Worker.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].Worker.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].Position.PositionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Worker)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                </td>
                <td>
                    @if (Model.IsShowDetails)
                    {
                        <a class="btn btn-default" asp-page="./WorkerDetails/Index" asp-route-id=@item.WorkerId>
                            Детали
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
