@page "{id:int?}"
@model AutoshopWebApp.Pages.Workers.WorkerDetails.IndexModel

@{
    ViewData["Title"] = "Детали";
}

<h2>Детали</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Patronymic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.BornDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.BornDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Street.StreetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Street.StreetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.HouseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.HouseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.ApartmentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.ApartmentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Position.PositionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Position.PositionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutputModel.Worker.Position.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutputModel.Worker.Position.Salary)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="WorkerId" value="@Model.OutputModel.WorkerID" />
        <a class="btn btn-default" asp-page="../Index">Назад к списку</a>
        <a class="btn btn-default" asp-page="./Edit" asp-route-id="@Model.OutputModel.WorkerID">Редактировать</a>
        @if (Model.IsAuthDelete)
        {
            <button class="btn btn-danger" type="submit" asp-page-handler="delete">
                Удалить
            </button>
        }
    </form>
   
</div>
