@page "{id:int?}"
@model AutoshopWebApp.Pages.Workers.WorkerDetails.TransactionListModel

@{
    ViewData["Title"] = "Сведения о переводах";
}

<h2>Сведения о переводах</h2>

<p>
    <a class="btn btn-default" asp-page="AddTransaction" asp-route-id="@Model.WorkerCrossPageData.WorkerID">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutputData.Worker.TransactionOrders[0].OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputData.Worker.TransactionOrders[0].Position.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputData.Worker.TransactionOrders[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputData.Worker.TransactionOrders[0].Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OutputData.Worker.TransactionOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Position.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Reason)
                </td>
            </tr>
        }
    </tbody>
</table>
