@page
@using AutoshopWebApp.Models
@model AutoshopWebApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Список автомобилей";
}

<h2>Список автомобилей</h2>

<form class="form-inline" method="get">
    <div class="form-group" style="font-size:20px">
         Поиск: <input class="form-control" type="text" name="search" />
        <button type="submit" class="btn btn-default">Найти</button>
    </div>
    <a class="btn btn-default" asp-page="Create">Добавить</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].MarkAndModel.CarMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].MarkAndModel.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.EngineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.RegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.BodyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.Run)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Car.SaleStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OutputCarModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkAndModel.CarMark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkAndModel.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.EngineNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.RegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.BodyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Run)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusText)
                </td>
                <td>
                    <a class="btn btn-default" asp-page="./CarDetails/Index" asp-route-id="@item.Car.CarId">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>
