@page
@using AutoshopWebApp.Models
@model AutoshopWebApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Список автомобилей";
}

<h2>Список автомобилей</h2>

<form class="form-inline" id="searchForm" method="get">
    <div class="form-group" style="font-size:20px">
        Поиск: <input class="form-control" type="text" name="search" />
        <button type="button" class="btn btn-default" onclick="getData()">Найти</button>
    </div>
    <a class="btn btn-default" asp-page="Create">Добавить</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].MarkAndModel.CarMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].MarkAndModel.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].EngineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].RegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].BodyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].Run)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputCarModels[0].SellingPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="cars"></tbody>
</table>

@section Scripts {
    <script id="btnPreset" type="text/template">
        <tr>
            <td>{{carMark}}</td>
            <td>{{carModel}}</td>
            <td>{{color}}</td>
            <td>{{engineNumber}}</td>
            <td>{{regNumber}}</td>
            <td>{{bodyNumber}}</td>
            <td>{{releaseDate}}</td>
            <td>{{run}}</td>
            <td>{{sellingPrice}}</td>
            <td>
                <a class="btn btn-default" href="/Cars/CarDetails/{{carId}}">Детали</a>
            </td>
        </tr>
    </script>

    <script>
        const uri = "api/cars"
        let cars = null;

        $(document).ready(function () {
            getData();
        });

        function getData() {
            const searchData = $("#searchForm").serialize();

            $.ajax({
                type: "GET",
                url: uri,
                data: searchData,
                cache: false,
                success: function (data) {
                    const tbody = $("#cars");
                    $(tbody).empty();
                    const template = $.trim($("#btnPreset").html());

                    $.each(data, function (key, value) {
                        let temp = makeFromTemplateRecoursive(value, template);

                        const finalRegex = /{{\w*}}/ig;
                        temp = temp.replace(finalRegex, "");

                        tbody.append(temp);
                    });

                    cars = data;
                }
            })
        }
    </script>
}
