@page "{id:int?}"
@model AutoshopWebApp.Pages.Cars.CarDetails.IndexModel

@{
    ViewData["Title"] = "Автомобиль";
}

<h2>Автомобиль @Model.CarData.MarkAndModel.CarMark @Model.CarData.MarkAndModel.CarModel</h2>

<div>
    <form method="post">
        <p>
            @if (Model.ShowCarEditButton)
            {
                <a class="btn btn-default" asp-page="./EditCar" asp-route-id="@Model.CarData.Car.CarId">
                    Редактировать автомобиль
                </a>
            }
            @if (Model.ShowExpertiseButton)
            {
                <a class="btn btn-default" asp-page="./AddPoolExpertiseRef" asp-route-id="@Model.CarData.Car.CarId">
                    Справка для экспертизы
                </a>
            }
            @if (Model.ShowReferenceButton)
            {
                <a class="btn btn-default" asp-page="./EditStateRef" asp-route-id="@Model.CarData.Car.CarId">
                    Справка о тех. состоянии
                </a>
            }
            @if (Model.ShowBuyButton)
            {
                <a class="btn btn-default" asp-page="./AddClientSeller" asp-route-id="@Model.CarData.Car.CarId">
                    Покупка у клиента
                </a>
            }
            @if (Model.ShowSellButton)
            {
                <a class="btn btn-default" asp-page="./AddClientBuyer" asp-route-id="@Model.CarData.Car.CarId">
                    Продажа клиенту
                </a>
            }
            @if (Model.ShowBillButton)
            {
                <a class="btn btn-default" asp-page="./CustomerBill" asp-route-id="@Model.CarData.Car.CarId">
                    Счёт клиенту
                </a>
            }
            @if (Model.ShowDeleteButton)
            {
                <button type="submit" class="btn btn-danger" asp-page-handler="delete"
                        asp-route-id="@Model.CarData.Car.CarId">
                    Удалить данные
                </button>
            }
        </p>
    </form>
    <hr />

    <style>
        @@media (min-width: 768px) {
            .dl-horizontal dt {
                float: left;
                width: 235px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .dl-horizontal dd {
                margin-left: 255px;
                width: 150px;
            }
        }
    </style>

    <div class="row">
        <div class="col-lg-5">
            <h3>Общая информация:</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.MarkAndModel.CarMark)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.MarkAndModel.CarMark)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.MarkAndModel.CarModel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.MarkAndModel.CarModel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.Color)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.EngineNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.EngineNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.BodyNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.BodyNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.ChassisNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.ChassisNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.ReleaseDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.ReleaseDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.RegNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.RegNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.Run)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.Run)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.ReleasePrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.ReleasePrice)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.SellingPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.SellingPrice)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarData.Car.BuyingPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarData.Car.BuyingPrice)
                </dd>
            </dl>
        </div>

        <div class="col-lg-5">
            <h3>Справка о тех. состоянии:</h3>
            @if (Model.CarStateRef == null)
            {
                <h4>(Информация отсутствует)</h4>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CarStateRef.ReferenceNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CarStateRef.ReferenceNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CarStateRef.ReferenceDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CarStateRef.ReferenceDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CarStateRef.Expert)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CarStateRef.Expert)
                    </dd>
                </dl>
            }
            <h3>Справка о взятии на экспертизу:</h3>
            @if (Model.ExpertiseRefData == null)
            {
                <h4>(Информация отсутствует)</h4>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientLastname)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientLastname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientFirstname)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientFirstname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientPatronymic)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpertiseRefData.PoolExpertiseReference.ClientPatronymic)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpertiseRefData.PoolExpertiseReference.IssueDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpertiseRefData.PoolExpertiseReference.IssueDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpertiseRefData.WorkerName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpertiseRefData.WorkerName)
                    </dd>
                </dl>
            }
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" asp-page="../Index">Назад к списку</a>
</div>
